
#success_message
{
     display: none;}
body {
  background: #2a2a2b;
  text-align: center;
  font-family: 'Amiri', serif;
}

.big {
  font-size: 1.2em;
}

.small {
  font-size: .7em;
}

.square {
  width: .7em;
  height: .7em;
  margin: .5em;
  display: inline-block;
}

/* Custom dropdown */
.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 10px; /* demo only */
}

.custom-dropdown select {
  background-color:rgb(90, 192, 170);
  color: #fff;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em; 
  border: 0;
  margin: 0;
  border-radius: 15px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.custom-dropdown::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 px 15px 0;
}

.custom-dropdown select[disabled] {
  color: rgba(0,0,0,.3);
}

.custom-dropdown select[disabled]::after {
  color: rgba(0,0,0,.1);
}

.custom-dropdown::before {
  background-color: rgba(0,0,0,.15);
}

.custom-dropdown::after {
  color: rgba(0,0,0,.4);
}

  .div_center
    {
      text-align: center;
      padding-top: 40px;
    }
    input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"]{
    background-color:rgb(90, 192, 170);
    width: 250px;
    border-radius: 15px;
    color: rgb(255, 255, 255);
}

    .font_size
    {
      font-size: 30px;
      padding-bottom: 20px;
      text-align: center;
    }
    .text_color
    {
      background-color:rgb(90, 192, 170);
    border: 2px solid rgb(255, 255, 255);
    width: 250px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
      padding-bottom: 20px;
    }
    label
    {
      display: inline-block;
      width: 150px;

    }
    .div_design
    {
      padding-bottom:15px;
    }
    select,option
    {
      background-color: rgb(145, 87, 1);
      height: 45px;
      font-size: 14px;
      background-color:rgb(133, 182, 171);
    border: 2px solid rgb(255, 255, 255);
    width: 250px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

.font_size{
  text-align: right;
  margin-right: 200px;
  padding-top: 30px;
}

    